:root{
    --main-font:'Nunito', system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}
html, body {
    overflow-x: hidden !important;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
body{
    font-family: var(--main-font);
    background-color: #F9F9F9;
}

